$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-upload: "\e904";
$icon-save: "\e900";
$icon-dropdown: "\e90c";
$icon-add: "\e90b";
$icon-edit: "\e909";
$icon-delete: "\e90a";
$icon-fullscreen: "\e907";
$icon-triangle-up: "\e901";
$icon-triangle-down: "\e902";
$icon-close: "\e908";
$icon-arrow-back: "\e906";
$icon-check: "\e903";

