$headerHeight: 50px;
$cellHeight: 40px;
$cellLeftPadding: 8px;
$cellTopPadding: 4px;

.centerContainer {
  margin: 20px auto;
  display: flex;
}

.fixBorder {
  border-radius: $borderRadius;
  border: 1px solid $tableHeaderColor;
  overflow: hidden;
  margin: auto;
  max-width: 100%;
  position: relative; //for spinner overflow
}

.tableContainer {
  background: $tableHeaderColor;
  padding-top: $headerHeight;
  position: relative;
  overflow-x: auto;

  @supports not (width: fit-content) {
    //support: IE doesn't support '@supports'
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
  }

  > div {
    max-height: 400px;
    min-height: 40px;
    overflow-y: auto;
    overflow-y: overlay; //fix scroll issue for Chrome
    overflow-x: hidden; //fix unexpected scroll for FF
    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    width: fit-content;

    @supports not (width: fit-content) {
      //support: IE doesn't support '@supports'
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
  }

  th {
    text-transform: capitalize;
  }

  td,
  th {
    padding: $cellTopPadding $cellLeftPadding;
    line-height: 1.61539;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  tbody,
  tr,
  td,
  th,
  thead {
    vertical-align: inherit;
  }

  tr:nth-of-type(odd):not(.selected) {
    background-color: #f0f0f0;
  }
  tr:nth-of-type(even):not(.selected) {
    background-color: white;
  }

  tbody tr {
    height: $cellHeight;
    cursor: pointer;
  }

  tr.selected {
    background-color: $tableSelectBackColor;
    color: $tableSelectColor;
    a {
      color: #183b59;
      &:hover {
        color: black;
      }
    }
  }

  th {
    font-weight: bold;
    height: 0;
    line-height: 0;
    color: transparent !important;
    border: none;
    white-space: nowrap;
    overflow: visible;
    padding: 0 $cellLeftPadding;
  }

  th > span {
    user-select: none;
    z-index: -1;
  }

  th > div {
    position: absolute;
    background: transparent;
    z-index: 10;
    top: 0;
    line-height: 1.61539;
    color: white;
    display: flex;
    align-items: center;
    text-align: left;
    height: $headerHeight;
  }

  /* sort-cell*/
  th.sort {
    cursor: pointer;

    > div {
      @include iconAfter($icon-triangle-down); //sort by desc
      &:after {
        color: $tableSortDefaultColor;
        padding-left: 0.5em;
      }
      &:focus {
        outline: 0;
      }
      &.currentSort {
        &:after {
          color: $tableSortActiveColor;
        }
        &.sortAsc {
          &:after {
            content: $icon-triangle-up;
          }
        }
      }
    }

    > span {
      display: flex;
      @include iconAfter($icon-triangle-down);
      &:after {
        padding-left: 0.5em;
      }
    }
  }
  /*end sort-cell*/

  th:last-child {
    //required for correction paddings in the table when the main part of header is hidden
    padding-right: 1em;
  }
}

.footer {
  padding: $cellTopPadding $cellLeftPadding;
  background-color: lighten($color: $tableHeaderColor, $amount: 15);
  color: black;
  white-space: pre;
}
