$headerHeight: 50px;
$cellHeight: 40px;
$cellLeftPadding: 8px;
$cellTopPadding: 4px;

.centerContainer {
  margin: 20px auto;
  display: flex;
}

.fixBorder {
  border-radius: $borderRadius;
  border: 1px solid $tableHeaderColor;
  overflow: hidden;
  margin: auto;
  max-width: 100%;
  outline-offset: -1px;
}

.tableContainer {
  background: $tableHeaderColor;
  padding-top: $headerHeight;
  position: relative;
  overflow-x: auto;

  // fix unexpected padding in Browsers: because width is float value
  margin: 0 -0.2px;
  overflow-y: hidden;
  // end fix

  > div {
    max-height: 500px;
    max-height: calc(100vh - 400px);
    min-height: 40px;
    overflow-y: auto;
    overflow-x: hidden; //fix unexpected scroll for FF
    display: inline-block;
    margin-bottom: -6px; //fix for some unexpected padding inside boxes
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
  }

  th {
    text-transform: capitalize;
  }

  td,
  th {
    padding: $cellTopPadding $cellLeftPadding;
    line-height: 1.61539;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  tbody,
  tr,
  td,
  th,
  thead {
    vertical-align: inherit;
  }

  tr:nth-of-type(odd):not(.selected) {
    background-color: #f0f0f0;
  }
  tr:nth-of-type(even):not(.selected) {
    background-color: white;
  }
  tbody tr {
    height: $cellHeight;
    cursor: pointer;
  }
  tr.selected {
    background-color: $tableSelectBackColor;
    color: $tableSelectColor;
    a {
      color: #183b59;
      &:hover {
        color: black;
      }
    }
  }
  $sortIcontSize: 26px;
  th {
    font-weight: bold;
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent !important;
    border: none;
    white-space: nowrap;
    overflow: visible;
    padding-right: $sortIcontSize;
  }
  th > span {
    user-select: none;
    z-index: -1;
  }
  th > div {
    position: absolute;
    background: transparent;
    z-index: 10;
    top: 0;
    line-height: 1.61539;
    color: white;
    display: flex;
    align-items: center;
    text-align: left;
    height: $headerHeight;
    padding-left: $cellLeftPadding;
    margin-left: -$cellLeftPadding;
    /* sort-cell*/
    cursor: pointer;
    @include iconAfter($icon-triangle-down); //sort by desc
    &:after {
      color: $tableSortDefaultColor;
      padding-left: 10px;
    }
    &:focus {
      outline: 0;
    }
    &.currentSort {
      &:after {
        color: $tableSortActiveColor;
      }
      &.sortAsc {
        &:after {
          content: $icon-triangle-up;
        }
      }
    }
    /*end sort-cell*/
  }
}

.btnGroup {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  > * + * {
    margin-left: 10px;
  }
}

.footer {
  padding: $cellTopPadding $cellLeftPadding;
  background-color: lighten($color: $tableHeaderColor, $amount: 15);
  color: black;
  white-space: pre;
}
