.btnSubmit {
  display: flex;
  align-items: center;
  color: #fff;
  background: #8cafd5;
  border: none;
  justify-content: center;

  $spinnerSize: 24px;
  position: relative;
  .spinner {
    position: absolute;
    left: 8px;
    display: block;
    margin-right: 20px;
    width: $spinnerSize;
    height: $spinnerSize;
  }
}

.title {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin: initial;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formError {
  color: $errorColor;
}
