@import "~fonts/icomoon/variables.scss";

$primaryTextColor: #3b3e45;
$secondaryTextColor: #67666c;

$basicBackground: white;
$borderRadius: 0;
$borderInputColor: #bdcad9;
$focusColor: #f18a1c;
$starsColor: #f18a1c;
$errorColor: #b70000;
$successColor: #007522;

$tableHeaderColor: #48a484;
$tableSelectBackColor: #aadac9;
$tableSelectColor: black;
$tableSortActiveColor: #3d4a5d;
$tableSortDefaultColor: #aecfea;

$btnFont: inherit;
$btnBorder: none;

$primaryBtnColor: white;
$primaryBtnBackground: #50a5be;
$primaryBtnHoverBackground: #408498;
$primaryBtnHoverColor: white;

$secondaryBtnColor: #50a5be;
$secondaryBtnBackground: white;
$secondaryBtnHoverBackground: #d1f2fc;
$secondaryBtnHoverColor: #408498;

$navBtnColor: white;
$navBtnBackground: #3d4a5d;
$navBtnHoverBackground: #657a9a;

$navBtnSelectedBackground: #41b08a;

$linkColor: #26608e;
$linkHoverColor: #00a5d4;

@mixin iconBefore($name) {
  &:before {
    font-family: "#{$icomoon-font-family}" !important;
    content: $name;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@mixin iconAfter($name) {
  &:after {
    font-family: "#{$icomoon-font-family}" !important;
    content: $name;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
