.box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: larger;
  background: $navBtnBackground;
  > * {
    padding: 6px 20px;
    letter-spacing: 1px;
  }
}

.downloadBtn {
  font-size: 24px;
  line-height: 16px;
  @include iconBefore($icon-save);
}

.uploadBtn {
  font-size: 24px;
  line-height: 16px;
  @include iconBefore($icon-upload);
}
