.btn {
  color: $navBtnColor !important;
  background: $navBtnBackground !important;
  &[aria-selected="true"] {
    background: $navBtnSelectedBackground;
  }
  &:hover {
    background: $navBtnHoverBackground;
  }
}
