.btn {
  color: $secondaryBtnColor;
  background: $secondaryBtnBackground;
  border: 1px solid $secondaryBtnColor;
  &:hover {
    color: $secondaryBtnHoverColor;
    background: $secondaryBtnHoverBackground;
  }
}
