.btn {
  color: $warningBtnColor;
  background: $warningBtnBackground;
  &:hover {
    color: $warningBtnHoverColor;
    background: $warningBtnHoverBackground;
  }
  &:focus {
    outline-color: cornflowerblue;
  }
}

.removeDialog {
  padding: 20px;
  button {
    margin: auto;
    display: block;
    min-width: 80px;
  }
}
