.table {
  th {
    text-transform: none;
  }
  th:nth-child(3) {
    width: 114px;
    white-space: normal;
    > div {
      max-width: inherit;
      width: inherit;
      white-space: inherit;
    }
  }
  > div {
    max-height: calc(100vh - 316px) !important;
  }
}
