.box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 20px auto;
}

.addBtn {
  @include iconBefore($icon-add);
}

.formBox {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  > * {
    &:first-child {
      max-width: 70px;
    }
    & + * {
      margin-left: 20px;
    }
    margin-bottom: 0 !important;
  }
  > button {
    min-height: 44px;
  }
}

.summaryBox {
  display: flex;
  > div {
    margin: auto;
    max-width: 100%;
  }
}

.dateInput {
  max-width: 150px;
}

.table {
  white-space: nowrap;
}
